*{
    background-color: #000000;
}
h1{
    color: rgb(135, 255, 105);
    text-align: center;
}
p{
    color: #ffffff;
    font-size: 2.5ems;
    font-family: sans-serif
}

button{
    color: #ffffff;
    background-color: #2e2e2e;
    
}
.cabecera{
    color: #ffffff;
}
.cabecera ul{
    display: flex;

}
.cabecera ul li{
    margin-right: 30px;
    list-style: none;
    padding: .6em;
}

.cabecera ul li:hover{
    background-color: #ffffff;
    color: #000000;
    transition: .2s;
    
}